@import "./Reset";
@import "./Variables";
@import "./Landing.scss";
@import "./Menu.scss";
@import "./Game.scss";
@import "./Info.scss";
@import "./Filter.scss";
@import "./Projects.scss";
@import "./Contact.scss";

:root {
    font-family: $main-font;
    font-size: 62.5%;
  //  margin: 0 20px;
 // white-space: pre;

  }

  .hidden{
    display: none;
  }
  .hiddenlanguage{
    display: none;
  }