@import "./Variables";

.sectiongame {
  width: 100%;
  height: 100%;
  z-index: 2; /* places the modal overlay between the main page and the modal dialog*/
  background-color: #00000080;

  position: fixed;
  top: 0;
  left: 0;

  margin: 0;
  padding: 0;
  .modal {
    //  min-width: fit-content;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 2px #000 solid;
    background-color: $pinky-contrast;

    z-index: 3; /* places the modal dialog on top of everything else */
    position: fixed;
    top: 25vh;
    left: calc(50vw - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modal .btn-play {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: $dark-turquoise;
    color: $pinky;
    font-weight: bolder;
    margin: 5px 0;
    &:hover {
      box-shadow: 0px 0px 9px 9px rgb(122 66 129 / 31%);
    }
    
  @media screen and (width >= 768px) {
    //  padding-left: 6rem;
    font-size: $font-size-tablet;
  }
  @media screen and (width >= 1024px) {
    //  padding-left: 8rem;
    font-size: $font-size-computer;
  }
  }
}

.modalCloseButton {
  float: right;
  position: absolute;
  top: 8px;
  right: 8px;
  height: 20px;
  width: 20px;
  font-size: $font-size-mobile;
  color: $earth;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    box-shadow: 0px 0px 15px 10px rgba(109, 49, 39, 0.452);
  }
  
  @media screen and (width >= 768px) {
    font-size: $font-size-tablet; //ajustar los tamaños de la caja a esto. 
  }
  @media screen and (width >= 1024px) {
    font-size: $font-size-computer;
  }
}

.screen-reader-offscreen {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}

.overfield {
  border: 1px black solid;
  width: fit-content;
  font-size: 1px;
}
.div-row {
  width: 150px;
  height: 50px;
  display: flex;
  gap: 2px;
}
.div-column {
  border: 1px solid purple;
  width: 50px;
  height: 50px;
  text-align: center;
  align-content: center;
  color: azure;
  background-color: azure;
}
.mine {
  background-color: purple;
}
.notmine {
  background-color: grey;
  color: grey;
}
.victory {
  background-color: antiquewhite;
  color: antiquewhite;
}
.msg{
    margin: 5px;
    font-size: $font-size-mobile;
    background-color: red;
    @media screen and (width >= 768px) {
        font-size: $font-size-tablet;
      }
      @media screen and (width >= 1024px) {
        font-size: $font-size-computer;
      }
}