@import "./Variables";
.info--background {
  background-color: $darkest;
  padding-bottom: 2rem; //quizás cambiar eso cuando le ponga más paddings alt. height
}

.info--article {
  padding-top: 5rem;
  //padding-left: 3rem;
  width: 80%;
  gap: 2rem;
  font-size: $font-size-mobile;
  //height: inherit;
  //color: $greenish-grey;
  @media screen and (width >= 768px) {
    // padding-top: 10rem;
    padding-left: 6rem;
    width: 80%;
    gap: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 300px; //ev.ajustar la altura del grid
    font-size: $font-size-tablet;
  }
  @media screen and (width >= 1024px) {
    padding-top: 10rem;
    padding-left: 8rem;
    width: 80%;
    gap: 3rem;
    font-size: $font-size-computer;
  }
  &__title {
    display: block;
    width: fit-content;
    height: fit-content;
    background-color: $pinky;
    margin-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 0.5rem;
    font-weight: bold;
    color: $dark-turquoise;
    text-transform: uppercase;
    text-wrap: nowrap;
    cursor: pointer;
    @media screen and (width >= 768px) {
      grid-column: 1/2;
    }
  }
  &__paragraph {
    border: 1px solid $pinky; //ev. quitar el borde
    color: $pinky;
    //  text-align: justify;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    padding-left: 1rem;
    padding: 1rem 1rem 1rem 3rem;
    &--p {
      border-color: none;
      display: none;
      @media screen and (width >= 768px) {
        display: block;
      }
      img {
        height: 300px;
      }
    }

    @media screen and (width >= 768px) {
      grid-column: 2/3;
      grid-row: 1/3;
      margin: 0;
      height: fit-content;
    }
  }
}
