@import "./Variables";

.divflag {
  display: flex;
  justify-content: flex-end;
  .info--flag {
    width: 20px;
    text-align: right;
    cursor: pointer;
    @media screen and (width >= 768px) {
      width: 30px;
    }
    @media screen and (width >= 1024px) {
      width: 40px;
    }
  }
}
.menu {
  display: block;
  width: fit-content;
  border: 2px solid $pinky;
  background-color: $darkest;
  font-size: $font-size-mobile;
  text-transform: uppercase;
  padding: 5px;
  color: $pinky;
  position: fixed;
  top: 5px;
  right: 5px;
  box-shadow: 0px 0px 20px 15px rgb(119, 175, 194, 41%);
  z-index: 4;
  @media screen and (width >= 768px) {
    padding: 10px;

    top: 10px;
    right: 10px;
    font-size: $font-size-tablet;
  }
  @media screen and (width >= 1024px) {
  
    font-size: $font-size-computer;
  }

  &--title {
    text-align: end;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    &__name{
        cursor: pointer;
    }
  }
  &--ul {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 190px;
    @media screen and (width >= 768px) {
        width: 300px;
    }
       // width: 300px;
    @media screen and (width >= 1024px) {
        width: 360px;
    }
    li {
      &:hover {
        border-left: 15px solid $pinky;
        padding-left: 2px;
        //  background-color: $pinky;
        // color: $dark-turquoise;
      }
    }
    @media screen and (width >= 768px) {
      margin-top: 30px;
    }

    .littlegame {
      padding: 2px;
      border: 1px solid $pinky;
      color: $pinky;
      &:hover {
        border: 1px solid $pinky;
        background-color: $pinky;
        color: $dark-turquoise;
      }
    }
    li {
      cursor: pointer;
    }
  }
}
