//light colors
$turquoise:#00525d;
$earth: #954a3c;
$greenish-grey: #a7b4b3;
$pinky: #ceacc2;
//dark colors
$darkest: #01090c;
$dark-turquoise: #0f2d37;

//font - Atkinson Hyperlegible
$main-font: "Atkinson Hyperlegible", sans-serif;