//light colors
$turquoise:#00525d;
$earth: #6D3227;
$greenish-grey: #CEDFDD;
$pinky: #ceacc2;
$pinky-contrast: #FFE5F8;
//dark colors
$darkest: #01090c;
$dark-turquoise: #0f2d37;

//font - Atkinson Hyperlegible
$main-font: "Atkinson Hyperlegible", sans-serif;
$font-size-mobile: 1.6rem;
$font-size-tablet: 2rem;
$font-size-computer: 3rem;