// //light colors
// $turquoise:#00525d;
$turquoise:#77afc2;
// $earth: #6D3227;
$earth: #9c8f84;
// $greenish-grey: #CEDFDD;
$greenish-grey: #678990;
// $pinky: #ceacc2;
$pinky: #f5f5e7;
// $pinky-contrast: #FFE5F8;
$pinky-contrast: #e3d2b2;

// //dark colors
// $darkest: #01090c;
$darkest: #104660;
// $dark-turquoise: #0f2d37;
$dark-turquoise: #37210b;

//font - Atkinson Hyperlegible
$main-font: "Atkinson Hyperlegible", sans-serif;
$font-size-mobile: 1.6rem;
$font-size-tablet: 2rem;
$font-size-computer: 3rem;